input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button.connectButton {
  width: 150px;
  padding: 10px 10px;
  border: none;
  font-weight: 500;
  background-color: #8d00ff;
  color: #fff;
}
button#dropdownMenuButton {
  width: 150px;
  padding: 10px 10px;
  border: none;
  font-weight: 500;
  background-color: #8d00ff;
  color: #fff;
}
ul.dropdown-menu.disconnect {
  background-color: #8d00ff;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
a.active {
  color: #8d00ff;
  font-weight: 500;
}
a#link {
  margin-left: 20px;
  color: black;
}
.max-button {
  position: absolute;
  right: 10px;
  top: 55px;
  width: 70px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  padding: 10px 10px;
  background: #f144ec;
  color: #fff;
}
i.fas.fa-arrows-alt-v.swap-icon.swap-icon {
  display: block;
  margin: 30px auto -10px;
  font-size: 30px;
  border: 1px solid;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}
i.fas.fa-arrows-alt-v.swap-icon.swap-icon:hover {
  background-color: #f144ec;
  border: 1px solid #f144ec;
  color: #fff;
}

.title-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.swap {
  margin-top: 20px;
}
.swap-button {
  display: block;
  text-align: center;
  padding: 10px 10px;
  cursor: pointer;
  border: 1px solid;
  margin: auto;
  background-color: #f144ec;
  border: 1px solid #f144ec;
  color: #fff;
  width: 100%;
}
.footer-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STAKING */

table.table.align-middle {
  border: 1px solid;
  margin-top: 60px;
  margin-bottom: 30px;
}
span.MuiButtonBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.PrivateSwitchBase-root.MuiCheckbox-root.MuiCheckbox-colorPrimary.MuiDataGrid-checkboxInput.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  display: none;
}
